.profile {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 118, 118);

    #card {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: aliceblue;
        border: none;
        width: 250px;
        padding: 20px;
        border-radius: 15px;
        .img {
            color: aliceblue;
            background-color: gray;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: 2em;
            }
        }
    }
}